<h1>Modifier mon profil</h1>

<%= form_with model: @user, local: true do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :email, "Email", class: "form-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :name, "Nom", class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.submit "Enregistrer", class: "btn btn-primary" %>
<% end %>
