<h1>S'inscrire</h1>
<%= form_with model: @user, url: "/users", local: true do |f| %>
  <div class="mb-3">
    <%= f.label :email, "Email", class: "form-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :password, "Mot de passe", class: "form-label" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, "Confirmation", class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <%= f.submit "S'inscrire", class: "btn btn-primary" %>
<% end %>
